html, body {
    font-family: "Poppins", sans-serif;
    height: 100%;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    color: #000000ab;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
	width: 250px;
	min-width: 250px;
	margin-bottom: 20px;
	border: 6px solid rgba(41, 51, 71, 1);
	border-radius: 50%;
}

.message {
    font-size: 1.8em;
    font-weight: 600;
}

.image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1250px) { 
    .message {
        font-size: 5em!important;
    }
}